#speakers {
    padding: 30px;
    /* background: url("../img/Security.jpg"); */
    /* background-size: cover; */
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
    /* text-align: justify; */
}

.containerx {
    margin: 20px 40px;
    color: darkblue;
    /* justify-content: center; */
}

.containerx .profiles {
    display: flex;
    justify-content: space-evenly;
    /* margin: 20px 80px; */
}

.containerx .profiles .profile {
    flex-basis: 260px;
    width: 50%;
}

.containerx .profiles .profile .profile-img {
    height: 300px;
    width: 300px;
    /* border-radius: 50%; */
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: 400ms;
}

.containerx .profiles .profile .profile-img:hover {
    height: 350px;
    width: 350px;
    /* border-radius: 50%; */
    border-radius: 15px;
}

.containerx .profiles .profile .user-name {
    margin-top: 30px;
    font-size: 35px;
    transition: 400ms;
    text-align: center;
}

.containerx .profiles .profile .user-name:hover {
    /* margin-top: 30px; */
    font-size: 36px;
}

.containerx .profiles .profile h5 {
    /* margin-top: 30px; */
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

.containerx .profiles .profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}